numpy==2.1.1
redis==6.4.0
prometheus-client==0.23.1
python-dotenv==1.1.1
pillow==12.1.0
mysql-connector-python==9.5.0
SQLAlchemy==2.0.46
psycopg2==2.9.11
requests==2.32.3
websocket-client==1.9.0
opencv-python-headless==4.13.0.92
websockets==16.0
uuid6==2025.0.1